// Override Minimal Mistakes default color variables
$brand-color:  #f8333cff;
$secondary-color: #efa00bff;
$primary-color: #17a398ff;
$text-color: #092834ff;
$background-color: rgb(255, 244, 244);

@import "minimal-mistakes";